
.Abackground {
    /*       */
    height: 65vh ;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 1rem;
    box-sizing: border-box;
    border-width: 4px;
    border-color: #F9D390;
    box-shadow: 0px 113px 113px rgba(0, 0, 0, 0.02), 0px 95px 95px rgba(0, 0, 0, 0.04), 0px 71px 71px rgba(0, 0, 0, 0.07), 0px 39px 39px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.Aone {
    position : absolute;
    width: 35vw;
    margin-left: 7vw;
}

@media (prefers-reduced-motion: no-preference) {
    .Aone {
      animation: Aone-animated infinite 4s linear;
      animation-delay: 0s;
    }
    
  }
  @media (prefers-reduced-motion: no-preference) {
    
    .Atwo {
        animation: Atwo-animated infinite 4s linear;
      }
  }
  @media (prefers-reduced-motion: no-preference) {
    .Abackground{
      animation: Abackground-animate infinite 4s linear;
      animation-delay: 1.7s;
    }

  @keyframes Aone-animated {
    0%   {opacity: 0; height: 10vh; }
    20%  {opacity: 0.7; height: 65vh;}
    50%   {opacity: 0.7; height: 65vh;}
    80%   {opacity: 0.7; height: 65vh;}
    100%  {opacity: 0; height: 10vh;}
  }

.Atwo {
    margin-bottom: 300px;
    margin-right: 12vw;
}


  @keyframes Atwo-animated {
    0%   {margin-bottom: 250px;}
    20%  {margin-bottom: 300px;}
    50%  {margin-bottom: 300px;}
    80%  {margin-bottom: 300px;}
    100% {margin-bottom: 250px;}
  }
  @keyframes Abackground-animate {
    0%   {background-image: 
        linear-gradient(102.38deg, rgba(24, 29, 49, 0.6) 20.81%, rgba(77, 81, 101, 0.36) 96.05%),
        linear-gradient(to top left, #EEC377,transparent,#5e99a0,transparent,#EEC377); }
        100%   {background-image: 
            linear-gradient(102.38deg, rgba(24, 29, 49, 0.6) 20.81%, rgba(77, 81, 101, 0.36) 96.05%),
            linear-gradient(to top left, #EEC377,transparent,#5e99a0,transparent,#EEC377); }
  }
  .pickaxe{
      height: 150px;
      width : 150px;
      transform: rotate(-90deg)
  }
  @media (prefers-reduced-motion: no-preference) {
    .pickaxe{
      animation: pickaxe-animated infinite 1s linear;
      animation-delay: 0s;
     }
    }
    @keyframes pickaxe-animated {
        0%   {transform: rotate(-90deg); }
        50%   {transform: rotate(20deg); }
        100%   {transform: rotate(-90deg); }
      }
}