.DD {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
    cursor: pointer;
  
    @media screen and (max-width: 1200px) {
      display:none;
    }
}
.DD:active{
    color: #F9D390;
    background:linear-gradient(black 25%, #CA9E51)
  }