@tailwind base;
@tailwind components;
@tailwind utilities;

.mainpage {
    filter: blur(8px);
}
.bg {
    background-image: url('./bgn.png');
    background-size: 100% auto;
  }
.bginven{
    background-image: linear-gradient(to bottom,transparent 30%,rgba(202,158,81,0.3) 100%);
    opacity: 1;

}
.cutcorner{
    
}
.greybgbutton{
    background:#7f7f7f;
}
.goldbgbutton{
    background: linear-gradient(180deg, #f9d390 0%, #e2b15b 100%);
  
  }
  .cutcorner,
  .greybgbutton,
  .goldbgbutton{
    -webkit-clip-path: polygon(
        0 clamp(15px,0.7vw,20px),
        0 100%,
        calc(100% - clamp(15px,0.7vw,20px)) 100%,
        100% calc(100% - clamp(15px,0.7vw,20px)),
        100% 0,
        clamp(15px,0.7vw,20px) 0
      );
      clip: polygon(0 0, 0 100%, 100% 100%, 50% 0);
}
.goldgrow{
    background-color: #ffcd60 ;
    
    background:linear-gradient(#F9D390, #E2B15B);
        box-shadow:  0px 0px 3.5vh #CA9E51,
                    1px 1px 10px rgba(0,0,0,0),
                    inset -2px -2px 20px rgba(255,255,255,0.1),
                    inset 2px 2px 4px black; 
        text-shadow: 0 0 2vh white,
                    0px 0px 2vh black;    

}
    .duck{
        display:flex;
    }   
    .navigator{
        border-radius: 0.4vw;
        position:absolute;
        z-index: -1;
        background:linear-gradient(#F9D390 50%, #E2B15B);
        box-shadow:  0px 0px 3.5vh #CA9E51,
                    1px 1px 10px rgba(0,0,0,0),
                    inset -2px -2px 20px rgba(255,255,255,0.1),
                    inset 2px 2px 4px black; 
        text-shadow: 0 0 2vh white,
                    0px 0px 2vh black; 
    }
    .select{
        border-radius: 0.4vw;
        background: transparent;
        color: black;
        transition: color 1s ease-in-out ;
        

    
}
.kuy:nth-child(1).select ~ .navigator{
    transform: translateX(0);
    transition: transform 700ms ease-in-out ;
}
.kuy:nth-child(2).select ~ .navigator{
    transform: translateX(calc(10vw));
    transition: transform 700ms ease-in-out ;
}
.glowanimate{
        text-shadow: 0 0 1vw #F9D390,
                        0px 0px 2vh black; 
}

@media (prefers-reduced-motion: no-preference) { 
    .imgtrans{
        animation: imgtrans-animated infinite 10s linear;
        
    }
}
@keyframes imgtrans-animated {
    0%   {opacity: 0.7; margin-bottom: 20px; }
    20%  {opacity: 0.85; margin-bottom: 30pxpx;}
    50%   {opacity: 1; margin-bottom: 40px;}
    80%   {opacity: 0.85; margin-bottom: 30px;}
    100%  {opacity: 0.7; margin-bottom: 20px;}
  }


/* mobile css */
@media only screen and (max-width: 640px) {
    .kuy:nth-child(2).select ~ .navigator{
      transform: translateX(calc(25vw));
        transition: transform 700ms ease-in-out ;
    }
  }
.typing{
    animation: type 2s steps(21) infinite;
    color:#F9D390 ;
    text-shadow: 0 0 1vh #E2B15B,
                    0px 0px 2vh black;
}
@keyframes type {
    0%{
        width:0%;
    }
    100%{
        width: 75%;;
    }
    
}
input[type=number] {
    padding-left: 20px;
    font-size: 15px;
}

.modalsamlltext{
    font-size: clamp(6px,2.7vw,12.5px);
}